<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/plain">
<head>
	<link th:href="@{/resources/js/plugins/jsgrid/css/jsgrid.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/resources/js/plugins/jsgrid/css/jsgrid-theme.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	
</head>
<body>	
	<th:block layout:fragment="breadcumb">
		<h5 class="breadcrumbs-title">Product Knowledge</h5>
		<ol class="breadcrumbs">
			<li><a th:href="@{/index.html}">Dashboard</a></li>
			<li><a href="#">Masters</a></li>
			<li class="active">Product Knowledge</li>
		</ol>
	</th:block>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col s10">
				<p class="caption">Allow you to maintenance data prodknowledge for create, modify or delete</p>
		    	
		    </div>		
		</div>		
	   
	    <div class="section"></div>
		<div class="row">
			<div class="col s12">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div id="jsGrid-role"></div>
			</div>
		</div>
			<div id="modal-map-role" class="modal modal-fixed-footer" style="width:70%">
              <div class="modal-content" >              
              	 <div id="jsGrid-map-role-modul"></div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" id="cancelMapBT" style="margin:6px 1px">Cancel</a>
                <a href="#" class="btn" id="saveMapBT" style="margin:6px 1px">Simpan</a>
              </div>
            </div>
		<script th:inline="javascript">
			var URL_ROLE_LIST = [[@{/master/jabatan/listjabatan}]];
			var URL_ADD_ROLE = [[@{/master/jabatan/add-role}]];
			var URL_UPDATE_ROLE = [[@{/master/jabatan/update-role}]];
			var URL_REMOVE_ROLE = [[@{/master/jabatan/delete-role}]];
			var URL_LIST_MAP_ROLE = [[@{/master/jabatan/map-role-modul}]];
		</script>
		<script type="text/javascript" th:src="@{/resources/js/custom/custom_jsgrid.js}"></script>
	</th:block>
	
</body>
</html>