<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/plain">
<head>
<title>Create New User</title>
</head>
<body>
<th:block layout:fragment="breadcumb">
		<h5 class="breadcrumbs-title">Create New User</h5>
		<ol class="breadcrumbs">
			<li><a th:href="@{/index.html}">Dashboard</a></li>
			<li><a href="#">Masters</a></li>
			<li><a th:href="@{/pages/master/user.html}">Master User</a></li>
			<li class="active">Create New User</li>
		</ol>
	</th:block>
	<th:block layout:fragment="content">
			<div class="section">
				<div class="row">
					<div class="col s12">
						<div class="card-panel">
							<h4 class="header2">New User</h4>
							<div class="row">
							<form class="col s12" action="#" th:object="${userEmployee}"
								th:action="@{/pages/master/user/create-new.html}" method="POST">
								<div class="row">
									<div class="input-field col s6">
										<input type="text" th:field="*{empId}" class="validate" th:errorclass="invalid"/> 
										<label for="empId">ID Karyawan</label>
										<div th:if="${#fields.hasErrors('empId')}" th:class="${#fields.hasErrors('empId')}? error" th:errors="*{empId}">Incorect</div>
									</div>
									<div class="input-field col s6">
										<input type="text"  th:field="*{name}"  class="validate" th:errorclass="invalid" /> 
										<label for="name">Nama Karyawan</label>
										<div th:if="${#fields.hasErrors('name')}" th:class="${#fields.hasErrors('name')}? error" th:errors="*{name}">Incorect</div>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6">
										<select th:field="*{role}">
					                     <option value="">-- Pilih Jabatan--</option>
					                     <option th:each="rm : ${roles}"
	                             			th:value ="${rm.roleId}"
	                             			th:text = "${rm.roleId}">Option</option>
					                    </select>
	                    				<label for="role">Jabatan</label>
	                    				<div th:if="${#fields.hasErrors('role')}" th:class="${#fields.hasErrors('role')}? error" th:errors="*{role}">Incorect</div>
	                  
									</div>
									<div class="input-field col s6">
										<input type="text" th:field="*{paCode}" />
										<label for="paCode">Kode PA</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6" >
										<input type="text" th:field="*{joinDate}"/> 
										<label for="joinDate">Tanggal Bergabung</label>
										<div th:if="${#fields.hasErrors('joinDate')}" th:class="${#fields.hasErrors('joinDate')}? error" th:errors="*{joinDate}">Incorect</div>
									</div>
									<div class="input-field col s6">
										<input type="text" th:field="*{email}" class="validate" th:errorclass="invalid"/> 
										<label for="email">Alamat Email</label>
										<div th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')}? error" th:errors="*{email}">Incorect</div>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s6">
										<input type="text" th:field="*{mobilePhone}" /> <label for="mobilePhone">Nomor Handphone</label>
										<div th:if="${#fields.hasErrors('mobilePhone')}" th:class="${#fields.hasErrors('mobilePhone')}? error" th:errors="*{mobilePhone}">Incorect</div>
									</div>
									
								</div>
								<div class="row">
									<div class="input-field col s6">
										<select th:field="*{status}">
					                     	  <option th:value="1" th:text="Active" />
						                      <option th:value="2" th:text="Inactive"/>
						                      <option th:value="0" th:text="Blocked"/>
					                     </select>
	                    				<label for="status">Status</label>
	                  
									</div>
									
								</div>
								<div class="row">
	                            <div class="input-field col s12">
	                              <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
	                                <i class="mdi-content-send right"></i>
	                              </button>
	                            </div>
	                          </div>
							</form>
						</div>
						</div>
					</div>
				</div>
				
			</div>	
	<script type="text/javascript" th:src="@{/resources/js/plugins/formatter/jquery.formatter.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/user/newUser.js}"></script>
	</th:block>
</body>
</html>